*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: blue;
}
.navbar{
    position: absolute;
    z-index: 5;
    background: linear-gradient(to top,rgba(255,255,255,0.5),rgba(0,255,171, 0.5));
    width: 50vw;
    height: 50px;
    left: 25%;
    top:1%;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-color: blue;
    border-top: none;
    border-left: none;
  

}
ul{
    display: flex;
   
}
ul>li>a{
    margin: 20px;
}